.content {
    align-items: center;
    margin: 0% 15%;
    margin-top: 100px ;
    height: 60vh; 
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8,  1fr);
    
    animation: general_content_animation 4s;
}

.content div {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Academy card with animation*/
.academy-card {
    grid-column:  1 /  4 ;
    grid-row: 1 / 5;
    background-color: #ffffff;
    height: 100%;

    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.academy-card:hover{
    transform: rotateY(180deg);
}

.academy-card img {
    width: 100%;
    height: 70%;
    backface-visibility: hidden;
    position: absolute;
}
.hidden-button {
    transform: rotateY(180deg);
}
.hidden-button button {
    color: white;
    background-color: #2d99ff;
    font-size: 15px;
    border-radius: 5px;
    border: none;
    padding: 7px 7px;
    opacity: 0.7;
}

.hidden-button button:hover {
    opacity: 1;
}


/* qa card with animation */
.qa-card {
    grid-column:  1 /  4 ;
    grid-row: 5 / 9;
    background: #52bf77;
    align-self: stretch;

    color: white;
    font-size: 70px;

    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
}

.qa-card:hover{
    transform: rotateY(-180deg);
}

.qa-card > p {
    color: white;
    font-size: 70px;

    backface-visibility: hidden;
    position: absolute;
}

.hidden-description-qa {
    transform: rotateY(-180deg);
    background-color: white;
    height: 100%;
    overflow: hidden;
}

.hidden-description-qa > p {
    font-size: 15px;
    text-align: left;
}

/*js card with animation*/
.js-card {
    grid-column: 4 / 7;
    grid-row: 1 / 7;
    background-color: #f7cf69;
    align-self: stretch;  
    position: relative;
    
}
.js-card > p {
    font-weight: bolder;
    font-size: 70px;

    position: absolute;
    bottom: 0;
    right: 0;
}

.hidden-description-js{
    height: 100%;
    opacity: 0;
}
.hidden-description-js > p{
    height: 100%;
    font-size: 15px;
    text-align: left;
    padding: 10px 10px;
}

.hidden-description-js:hover {
    position: absolute;
    opacity: 1;
    background-color: white;
    transition: 1.5s;
}


/*java card with animation*/
.java-card {
    grid-column: 4 / 7;
    grid-row: 7 / 9;
    background-color: #e12b4c;
    align-self: stretch;
    position: relative;
}

.java-card p {
    color: white;
    font-size: 40px;
}

.hidden-description-java {
    position: absolute;
    background-color: white;
    bottom: 100%;
    left: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height:0;
    transition: .5s ease;
}

.java-card:hover .hidden-description-java {
    bottom: 0;
    height: 100%;
}

.hidden-description-java > p {
    height: 100%;
    padding: 5px 0px;
    font-size: 15px;
    color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}


/* php card with animation*/
.php-card {
    grid-column: 7 / 13;
    grid-row: 1 / 4;
    background-color: #8893c0;
    align-self: stretch;

    position: relative;
}

.php-card p {
    font-style: italic;
    font-size: 70px;
}

.hidden-description-php {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.php-card:hover .hidden-description-php {
    width: 100%;
    left: 0;
}

.hidden-description-php p {
    font-size: 15px;
    color: black;
    text-align: right;
    height: 100%;
    padding: 20px 20px;
}

/* odtnet card with animation */
.dotnet-card {
    grid-column: 7 / 11;
    grid-row: 4 / 9;
    background-color: #642077;
    align-self: stretch;

    position: relative;
}
 .dotnet-card p {
    color: white;
    font-size: 40px;
 }

 .hidden-description-dotnet {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    background-color: white;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
 }

 .dotnet-card:hover .hidden-description-dotnet {
    width: 100%;
    right: 0;
 }
 .hidden-description-dotnet p {
    font-size: 15px;
    color: black;
    text-align: left;
    height: 100%;
    padding: 20px 20px;
}



/* events card with animation */
.events-card {
    grid-column: 11 / 13;
    grid-row: 4 / 6;
    background-color: #2d99ff;
    align-self: stretch;

    position: relative;
}

.hidden-description-events {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

    overflow-y: scroll;
}

.events-card:hover .hidden-description-events {
    width: 100%;
    left: 0;
}

.hidden-description-events > p {
    color: black;
    font-size: 20px;
    width: 100%;
    height: 100%;
}

/* blog card with animation */
.blog-card {
    grid-column: 11 / 13;
    grid-row: 6 / 8;
    background-color: #0443a3;
    align-self: stretch;

    position: relative;

}

.hidden-description-blog {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;

}
.blog-card:hover .hidden-description-blog {
    width: 100%;
    left: 0;
}

.hidden-description-blog > p {
    color: black;
    font-size: 12px;
    width: 100%;
    height: 100%;
    text-align: left;
    padding: 5px 5px;
}


/* contacts card with animation */
.contacts-card {
    grid-column: 11 / 13;
    grid-row: 8 / 9;
    background: #00265f;
    align-self: stretch;

    position: relative;
}

.hidden-description-contacts {
    position: absolute;
    bottom: 0;
    left: 100%;
    right: 0;
    background-color: white;
    overflow: hidden;
    width: 0;
    height: 100%;
    transition: .5s ease;
}

.contacts-card:hover .hidden-description-contacts {
    width: 100%;
    left: 0;

    display: flex;
    flex-direction: row;
    padding: 0 20px;
    justify-content: space-between;
}

.hidden-description-contacts  i {
    font-size: 20px;
    color: black;
}

.hidden-description-contacts a {
    text-decoration: none;
}



.events-card > p,
.blog-card > p,
.contacts-card > p {
    color: white;
    font-size: 15px;
}
