/*all content animation*/
@keyframes general_content_animation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  /*header animation*/
  @keyframes header_animation { 
    0% {
        margin-top: -100px;
    }
    100% {
        margin-top: 0px;
    }
  }
