
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}
body { 
    height: 100%; 
    margin: 0; 
    background-color: #ffffff;
    font-family:Helvetica,Arial, sans-serif;
    font-size:14px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    border-bottom: 2px solid #dedede;
    height: 70px;
    width: 100%;
    align-items: center;
    padding-right: 15%;
    padding-left: 15%;
    background-color: white;
    animation-name: header_animation;
    animation-duration: 3s;
}

.header img {
    height: 60%;
}

.menu-nav {
    position:relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size:14px;
    border-radius: 8px;
}
 
.menu-nav ul {
    list-style:none;
    color: #FFF;
    display: flex;
    flex-direction: row;
}
 
.menu-nav ul li {
     position:relative;
}
.menu-nav ul li a {
    text-decoration:none;
    text-shadow: 0 -1px 0 #111;
}
/*here for block of user*/
.menu-nav ul li ul {
    display: none;
}

.checkbox {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000;
}
.checkbox:checked + li ul {
    display: block;
    position: absolute;
    min-width: 150px;
    margin-left: -95px;
    background-color: white;
    filter: drop-shadow(4px 4px 4px gray);
}

.menu-nav > ul:hover .user-icon{
    opacity: 1;
}

.user-icon {
    margin-left: 15px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: coral;
    opacity: .7;
}

.user-profile li {
    margin-right: 15%;
    margin-left: 15%;
}
.user-profile li:first-child {
    border-bottom: 1px solid black;
    padding-top: 10px;
    padding-bottom: 0;
    text-align: center; 
}
.user-profile li {
    padding: 10px 0;
}
.user-profile li:first-child p {
    text-shadow: whitesmoke;
    size: 20px;
    padding-bottom: 5px;
    opacity: 0.5;
}
.menu-nav ul li a {
    text-shadow: whitesmoke;
    size: 20px;
    padding-bottom: 5px;
    text-decoration: none;
    color: black;
    text-align: left;
}
.fa {
    opacity: 0.7;
}
.fa:hover {
    opacity: 1;
}

p {
    color: black;
}