@media screen and (max-width: 999px) {
    .academy-card {
        grid-column:  1 /  6 ;
        grid-row: 1 / 5;
    }

    

    .js-card {
        grid-column:  6 /  10 ;
        grid-row: 1 / 5;

        overflow: hidden;
    }

    .events-card {
        grid-column:  10 /  13 ;
        grid-row: 1 / 3;

        overflow: hidden;
    }

    .blog-card {
        grid-column:  10 /  13 ;
        grid-row: 3 / 4;

        overflow: hidden;
    }

    .contacts-card {
        grid-column:  10 /  13 ;
        grid-row: 4 / 5;


        overflow: hidden;
    }

    

    .java-card {
        grid-column:  1 /  7 ;
        grid-row: 5 / 7;
    }

    .php-card {
        grid-column:  7 /  13 ;
        grid-row: 5 / 7;

        overflow: hidden;
    }

    .dotnet-card {
        grid-column:  1 /  7 ;
        grid-row: 7 / 9;

        overflow: hidden;
    }

    .qa-card {
        grid-column:  7 /  13 ;
        grid-row: 7 / 9;
    }

    .hidden-description-blog {
        overflow-y: scroll;
    }

    
}