
.message_block {
    position: absolute;
    bottom: 2em;
    right: 2em;
    height: 100%;
    width: 150px;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}


.message_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  
    padding: 2em;
    box-shadow: 4px 4px 20px rgba(0,0,0,0.3);
    width: 100%;
    max-width: 200px;
    opacity: 0.5;
    border-radius: 10px;

    position: relative;
}
.message_button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0.5em;
    background: none;
    border: none;
    cursor: pointer;
}
.message_container:hover {
    opacity: 1;
}
.message_container:active {
    display: none;
}

.warning {
    background-color: yellow;
}

.info {
    background-color: turquoise;
}

.critical {
    background-color: red;
}